#about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  height: 98%;
  margin-top: 5px;
  padding: 15px 5%;
}
#about-me .heading {
  color: #323232;
}
.bio-container {
  height: 100%;
  padding: 0px 10px;
  display: flex;
}

.bio-container .left-bio-container {
  padding: 2px 15px;
  border-radius: 3px;
  border-top: 1px solid #e1e1e1;
  border-right: 1px solid #e1e1e1;
  width: 50%;
  color: #323232;
}

.left-bio-container h2 {
  letter-spacing: 2px;
  margin-bottom: 5px;
  color: #323232;
}

.bio-container .right-bio-container {
  width: 50%;
}

.right-bio-container .all-info {
  height: 100%;
  width: 100%;
  padding: 7px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-top: 1px solid #e1e1e1;
  border-right: 1px solid #e1e1e1;
}

.right-bio-container .all-info .info {
  border-bottom: 1px solid #e1e1e1;
  display: flex;
  justify-content: space-between;
  padding: 7px;
  color: #323232;
}

.right-bio-container .info .highlight {
  border-radius: 2px;
  background-color: #323232;
  color: #85d17b;
}

@media only screen and (max-width: 1347px) {
  .bio-container {
    flex-direction: column;
    gap: 2px;
  }

  .bio-container .left-bio-container {
    padding: 2px 15px;
    border-radius: 3px;
    border-top: #e1e1e1;
    width: 100%;
  }
  .bio-container .right-bio-container {
    width: 100%;
  }
}

/* Passion Container */
.passion-container {
  border-top: 1px solid #e1e1e1;
  height: 100%;
  width: 100%;
  padding: 7px;
}

.passion-container .heading {
  margin-top: 10px;
  text-align: center;
  color: #323232;
}

.passion-container p {
  margin-top: 15px;
  line-height: 25px;
  padding: 5px 25px;
  color: #323232;
}
