* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
  font-size: 1rem;
  background: #50a3a2;
  background: -webkit-linear-gradient(top left, #50a3a2 0%, #78cc6d 100%);
  background: linear-gradient(to bottom right, #50a3a2 0%, #78cc6d 100%);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #323232;
}

.heading {
  position: relative;
  width: 100%;
  font-size: 25px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  text-decoration: underline #85d17b;
}

p {
  padding: 1px;
  letter-spacing: 2px;
  line-height: 25px;
}

.main-content-sidebar {
  margin: 8px 0px;
  height: 100%;
  width: 100%;
}

button:hover {
  cursor: pointer;
  /* background-color: #323232; */
}
