* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppings", sans-serif;
  /* font-size: 1rem; */
  color: #50a3a2;
  background: #50a3a2;
  background: -webkit-linear-gradient(top left, #50a3a2 0%, #78cc6d 100%);
  background: linear-gradient(to bottom right, #50a3a2 0%, #78cc6d 100%);
}

.heading {
  text-transform: uppercase;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #323232;
}

p {
  padding: 1px;
  letter-spacing: 2px;
  line-height: 25px;
}

button:hover {
  cursor: pointer;

}
