/* color theme */
:root {
  --primary-font-color: #323232;
  --secondary-font-color: #50a3a2;
  --highlighted-font-color: #78cc6d;
  --container-background: rgba(255, 255, 255, 0.2);
  --background-gradient: linear-gradient(
    to bottom right,
    #50a3a2 0%,
    #78cc6d 100%
  );
}

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-weight: 300;
}

body {
  font-family: "Poppings", sans-serif;

  color: var(--primary-font-color);
  background: var(--background-gradient);
  position: relative;
}

.filter-theme {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  position: fixed;
  top: 50px;
  right: 50px;
  padding: 10px;
  height: 100%;
  z-index: 1000;
}

.filter-theme span {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}
.first-theme {
  background-color: #78cc6d;
}
.second-theme {
  background-color: #50a3a2;
}
.third-theme {
  background-color: rgba(255, 255, 255, 0.18);
}

::-webkit-scrollbar {
  width: 10px;
  background-color: var(--primary-font-color);
}

::-webkit-scrollbar-thumb {
  background-color: var( --secondary-font-color); 
  border-radius: 2px;
  outline: var() 2px solid;
}

.heading {
  text-transform: uppercase;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--primary-font-color);
}

p {
  padding: 1px;
  letter-spacing: 2px;
  line-height: 25px;
}

button:hover {
  cursor: pointer;
}
