#main-landing-page {
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  padding: 5% 12%;
}
/***************************** SIDEBAR CONTAINER ******************************************************/
#sidebar-navbar-container {
  height: 100%;
  border-radius: 5px;
}

/********************************* NAVBAR ******************************************************/
.navbar {
  height: 100%;
  border-radius: 5px;
}

.navbar-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  border-radius: 5px;
}

.navbar-links .navbar-link {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  margin: 5px 0px;

}

/****************************************** BUTTONS IN SIDEBAR ***********************************************/
.navbar-button {
  font-size: 20px;
  height: 100%;
  outline: none;
  border: none;
  background-color: #323232;
  color: #50a3a2;
  letter-spacing: 1px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  transition: all 0.3s linear;
}
/*****************NAVBAR HOVER***********************************/
.navbar-button:hover {
  color: #85d17b;
  background-color: #50a3a2;
  border: #323232 solid 2px;
}
/* *****************************************LINKS INSIDE BUTTONS****************************************/
.navbar-links .navbar-link a {
  display: flex;
  flex-direction: column;
  justify-content: center;

  letter-spacing: 1px;
}

.navbar-links .navbar-link a .icon-link {
  font-size: 25px;
  margin: 0 auto;
}

.navbar-links .navbar-link .nav-header {
  margin-top: 5px;
}

/********************************************MAIN CONTENT CONTAINER***********************************/
#main-content-container {
  display: flex;
  width: 100%;
  height: 100%;
  margin-left: 5%;
  border-radius: 5px;
  /* padding: 5px; */
  /*hides content that is flowing outside the container*/
}
/***********************************************LEFT SECTION INSIDE MAIN CONTAINER **************************/
#main-content-container .left-section {
  height: 100%;
  width: 50%;
  background-color: #323232;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 200;
  border-radius: 10px;
  border-radius: 5px;

}
/***********************************************IMAGE INSIDE LEFT SECTION**************************/
#main-content-container .left-section .image {
  height: 50%;
  border-radius: 5px;
}
#main-content-container .left-section .image img {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  object-fit: cover;
}
/***********************************************INFO INSIDE LEFT SECTION**************************/
#main-content-container .left-section .info {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
}
/***********************************************NAME INSIDE INFO CONTAINER**************************/
.info .name {
  font-size: 35px;
  text-align: center;
  font-size: 25px;
 letter-spacing: 4px;
 text-transform: uppercase;
}
/***********************************************SKILLS INSIDE INFO CONTAINER**************************/
.info .subtitle-skills {
  text-align: center;
 font-size: 25px;
 letter-spacing: 4px;
 text-transform: uppercase;
}
/***********************************************SOCIAL LINKS INSIDE INFO CONTAINER**************************/
.info .social .links {
  display: flex;
  justify-content: center;
  
}
.info .social .links .link {
  padding: 5px;
  margin-right: 10px;
  font-size: 25px;
}

.info .social .links .link a {
  color: #50a3a2;
  transition: all 0.3s linear;
}
/**************************** HOVER ***********************************/
.info .social .links .link a:hover {
  color: #85d17b;
}
/***********************************************BUTTONS INSIDE INFO CONTAINER**************************/
.info .buttons {
  display: flex;
  gap: 5px;
  color: #50a3a2;
}

.info .buttons .button{
  width: 50%;
  height: 100%;
  background:#50a3a2;
  border: none;
  border: 2px solid #323232;
  transition: all 0.3s linear;
  border-radius: 5px;
}

.info .buttons .button a{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info .buttons .button .text {
  position: relative;
  width: 100%;
  font-size: 20px;
  color: #323232;
  transition: all 0.3s linear;
  letter-spacing: 4px;
  text-overflow: clip;
  text-transform: uppercase;
}
/*********************************HOVER****************************/

.info .buttons .button:hover .text {
  color: #85d17b;
}

.info .buttons .button:hover{
 opacity: 1;
}

/***********************************************RIGHT SECTION INSIDE MAIN CONTAINER **************************/
/***********************************************SECTION USED SWAP OUT OTHER SECTIONS**************************/
#main-content-container .right-section {
  width: 50%;
  height: 100%;
  position: relative;
}
/***********************************************CODE IN RELATIONSHIP WITH JS**************************/
.main-content-sidebar {
  position: absolute;
  left: -100%;
  top: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.4s linear;
 background: #323232;
  height: 100%;
  width: 100%;
}
/***********************************************ACTIVE CLASS USED IN JS**************************/
.main-content-sidebar.active {
  overflow-y: auto;
  opacity: 1;
  left: 0;
}
/***********************************************FOOTER SECTION**************************/
/* TODO : Create an animation that displays a moving footer horizontally */
#footer {
  position: absolute;
  bottom: 0;
  color: white;
}
#footer i {
  color: #50a3a2;
}
/**********************************************MOBILE RESPONSIVENESS*****************************/
/*TODO: Complete Mobile responsivenes for landing section */
/* TODO: Set Navigation Bar visible for all sizes */
/*******************************************SCREEN SIZE 1200PX**************************************/
@media only screen and (max-width: 1200px) {
  #main-landing-page {
    flex-direction: column;
    padding-top: 2%;
  }

  #sidebar-navbar-container {
    height: 100%;
    width: 100%;
    max-height: 40px;
    max-width: 700px;
    margin-bottom: 10px;
    /* position:sticky; */
  }

  #sidebar-navbar-container .nav-header{
    display: none;
  }

  .navbar {
    width: 100%;
  }

  .navbar-links {
    flex-direction: row;
    gap: 5px;
  }

  #main-content-container {
    margin-left: 0%;
  }
}
/*******************************************SCREEN SIZE 800PX**************************************/
@media only screen and (max-width: 800px) {
  #main-landing-page {
    flex-direction: column;
    padding-top: 5%;
    padding-bottom: 2%;
    margin: 0;
  }
  #sidebar-navbar-container {
    height: 100%;
    width: 100%;
    max-height: 40px;
    max-width: 700px;
    margin-bottom: 10px;
  }

  #main-content-container {
    width: 100%;
    height: 100%;
    flex-direction: column;
  }
  #main-content-container .left-section {
    width: 100%;
  }
  #main-content-container .right-section {
    width: 100%;
  }
}
/*******************************************SCREEN SIZE 650PX**************************************/
@media only screen and (max-width: 800px) {
body{
  width: 100%;
}
#main-landing-page {
  overflow-y: scroll;
  scroll-behavior: smooth;
 height: 100%;
 width: 100%;
 padding: 0;
}
  #sidebar-navbar-container {
    padding: 5px 10px;
    position:fixed;
    top: 0;
    height: 6vh;
    background-color: #323232;
    z-index: 1000;
    
  }

  .main-content-sidebar {
    position: relative;
    left:0;
    top: 0;
    opacity: 1;
    transition: all 0.4s linear;
    background: #323232;
    height: 94vh;
    width: 100%;  
  }

  #main-content-container .left-section{
    height:100vh;
  }
  #main-content-container .left-section .image{
    height: 200%;
  }
  #testimonials{
    height: 100vh !important;
  }
  #footer{
    position: relative;
    bottom: 0;
    background-color: #323232;
    color: #50a3a2;
    display: flex;
    justify-content: center;
  }
  
}
@media only screen and (max-width: 430px) {
  .info .buttons .button .text {
    font-size: 13px;
    font-weight: bolder;
  }
}

