:root {
  --primary-font-color: #323232;
  --secondary-font-color: #50a3a2;
  --highlighted-font-color: #78cc6d;
  --container-background: rgba(255, 255, 255, 0.2);
  --background-gradient: linear-gradient(
    to bottom right,
    #50a3a2 0%,
    #78cc6d 100%
  );
  --border-main-content-sidebar: 1px solid rgba(255, 255, 255, 0.18);
}

#main-landing-page {
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  height: 100vh;
  width: 100%;
  padding: 50px 30px;
  padding-left: 80px;
}

/***************************** SIDEBAR CONTAINER ******************************************************/
#sidebar-navbar-container {
  height: 100%;
  border-radius: 5px;
}

/********************************* NAVBAR ******************************************************/
.navbar {
  height: 100%;
  border-radius: 5px;
}

.navbar::before {
  content: "";
  display: block;
  margin-top: 5px;
  border-radius: 20px;
  height: 80%;
  border: var(--container-background) solid;
  position: absolute;
  z-index: -1;
}

.navbar-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  border-radius: 5px;
  gap: 4px;
}

.navbar-links .navbar-link {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  margin: 5px 5px;
  /* box-shadow: 0px 0px 2px 2px  #323232; */
}

.navbar-link .navbar-button.active {
  border-radius: 10px;
  color: var(--secondary-font-color);
  background-color: var(--primary-font-color);
}

/****************************************** BUTTONS IN SIDEBAR ***********************************************/
.navbar-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;

  font-size: 12px;
  letter-spacing: 1px;

  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;

  background-color: var(--container-background);
  color: var(--primary-font-color);

  transition: all 0.3s linear;
}

/*****************NAVBAR HOVER***********************************/
.navbar-button:hover {
  background: var(--primary-font-color);
  color: var(--secondary-font-color);
}

/* *****************************************LINKS INSIDE BUTTONS****************************************/
.navbar-links .navbar-link a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  letter-spacing: 1px;
}

.navbar-links .navbar-link a .icon-link {
  font-size: 20px;
  transition: all 0.2s linear;
}
.navbar-links .navbar-link:hover .icon-link {
  font-size: 30px;
}

/********************************************MAIN CONTENT CONTAINER***********************************/
#main-content-container {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  /* padding: 5px; */
  /*hides content that is flowing outside the container*/
  overflow: hidden;
}

/***********************************************LEFT SECTION INSIDE MAIN CONTAINER **************************/
#main-content-container .left-section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 200;

  height: 100%;
  width: 40%;
  background-color: var(--container-background);

  border-radius: 10px;
  border-radius: 5px;

  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

/***********************************************IMAGE INSIDE LEFT SECTION**************************/
#main-content-container .left-section .image {
  height: 50%;
  width: 100%;
  border-radius: 5px;
}
#main-content-container .left-section .image img {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  object-fit: cover;
}
/***********************************************INFO INSIDE LEFT SECTION**************************/
#main-content-container .left-section .info {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
}

/***********************************************NAME INSIDE INFO CONTAINER**************************/
.info .name {
  font-size: 35px;
  text-align: center;
  font-size: 25px;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 300;
  transition: all 0.2s linear;
  animation: lightSpeedInRight 2s 0.5s ease-in-out;
}

.txt {
  font-size: 20px;
  font-weight: 300;
  transition: all 0.2s linear;
}
.txt-type {
  transition: all 0.2s linear;
}
.info .name:hover {
  color: var(--secondary-font-color);
  font-weight: bold;
  transform: scale(1.2);
  border-radius: 10px;
  width: 92%;
  background-color: var(--primary-font-color);
}
.txt-type:hover {
  color: var(--secondary-font-color);
  font-weight: bold;
  transform: scale(1.2);
  border-radius: 10px;
  width: 92%;
  background-color: var(--primary-font-color);
}
.txt-type > .txt {
  border-right: 0.2rem solid var(--primary-font-color);
}
/***********************************************SKILLS INSIDE INFO CONTAINER**************************/
.info .subtitle-skills {
  text-align: center;
  font-size: 25px;
  letter-spacing: 4px;
  text-transform: uppercase;
}
.subtitle-skills .tag {
  transition: all 0.2s linear;
  animation: lightSpeedInLeft 2s 0.5s ease-in-out;
}
.subtitle-skills .tag:hover {
  color: var(--secondary-font-color);
  transform: scale(1.2);
  border-radius: 10px;
  width: 92%;
  background-color: var(--primary-font-color);
}

/***********************************************SOCIAL LINKS INSIDE INFO CONTAINER**************************/
.info .social .links {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.info .social .links .link {
  padding: 15px;
  font-size: 25px;
}

.info .social .links .link a {
  color: var(--primary-font-color);
  transition: all 0.3s linear;
}
/**************************** HOVER ***********************************/
.info .social .links .link a:hover {
  border-radius: 50%;
  padding: 10px;
  background-color: var(--primary-font-color);
  color: var(--secondary-font-color);
  font-size: 30px;
}
/***********************************************BUTTONS INSIDE INFO CONTAINER**************************/
.info .buttons {
  display: flex;
  gap: 5px;
}

.info .buttons .button {
  width: 50%;
  height: 100%;
  background: var(--primary-font-color);
  outline: none;
  border: none;

  transition: all 0.3s linear;
  border-radius: 5px;
}

.info .buttons .button a {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info .buttons .button .text {
  position: relative;
  width: 100%;
  font-size: 18px;
  color: var(--container-background);
  transition: all 0.3s linear;
  text-transform: uppercase;
  text-align: center;
}
/*********************************HOVER****************************/

.info .buttons .button:hover .text {
  color: var(--secondary-font-color);
}

.info .buttons .button:hover {
  text-shadow: 0px 0px 20px var(--secondary-font-color);
  box-shadow: 0px 0px 20px var(--secondary-font-color);
  opacity: 1;
}

/***********************************************RIGHT SECTION INSIDE MAIN CONTAINER **************************/
/***********************************************SECTION USED SWAP OUT OTHER SECTIONS**************************/
#main-content-container .right-section {
  width: 50%;
  height: 100%;
  position: relative;
  z-index: 1;
}

/***********************************************CODE IN RELATIONSHIP WITH JS**************************/
.main-content-sidebar {
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: var(--border-main-content-sidebar);
  position: absolute;
  left: -100%;
  top: 0;
  opacity: 0;
  display: ngone;
  overflow: hidden;
  transition: all 0.4s linear;
  background: var(--container-background);
  height: 100%;
  width: 100%;
  z-index: -1;
}

/***********************************************ACTIVE CLASS USED IN JS**************************/
.main-content-sidebar.active {
  overflow-y: auto;
  opacity: 1;
  left: 0;
  z-index: 1;
  display: block;
}
/***********************************************FOOTER SECTION**************************/
/* TODO : Create an animation that displays a moving footer horizontally */
#footer {
  position: absolute;
  bottom: 0;
  left: 45%;
  color: var(--primary-font-color);
}
#footer i {
  color: var(--secondary-font-color);
}
/**********************************************MOBILE RESPONSIVENESS*****************************/
/*******************************************SCREEN SIZE 1200PX**************************************/
@media only screen and (max-width: 1200px) {
  #main-landing-page {
    flex-direction: column;
    padding-top: 2%;
  }

  #sidebar-navbar-container {
    height: 100%;
    width: 100%;
    max-height: 40px;
    max-width: 700px;
    margin-bottom: 10px;
    /* position:sticky; */
  }

  #sidebar-navbar-container .nav-header {
    display: none;
  }

  .navbar {
    width: 100%;
  }
  .navbar::before {
    display: none;
  }

  .navbar-links {
    flex-direction: row;
    gap: 5px;
  }

  #main-content-container {
    margin-left: 0%;
  }
}
/*******************************************SCREEN SIZE 800PX**************************************/
@media only screen and (max-width: 800px) {
  #main-landing-page {
    flex-direction: column;
    padding-top: 5%;
    padding-bottom: 2%;
    margin: 0;
  }
  #sidebar-navbar-container {
    height: 100%;
    width: 100%;
    max-height: 40px;
    max-width: 700px;
    margin-bottom: 10px;
  }

  #main-content-container {
    width: 100%;
    height: 100%;
    flex-direction: column;
  }
  #main-content-container .left-section {
    width: 100%;
  }
  #main-content-container .right-section {
    width: 100%;
  }
}
/*******************************************SCREEN SIZE 650PX**************************************/
@media only screen and (max-width: 800px) {
  body {
    width: 100%;
  }
  #main-landing-page {
    overflow-y: scroll;
    scroll-behavior: smooth;
    height: 100%;
    width: 100%;
    padding: 0;
  }

  #sidebar-navbar-container {
    padding: 5px 10px;
    position: fixed;
    top: 0;
    height: 6vh;
    z-index: 1000;
  }

  .main-content-sidebar {
    position: relative;
    left: 0;
    top: 0;
    opacity: 1;
    transition: all 0.4s linear;
    height: 94vh;
    width: 100%;
    color: var(--secondary-font-color);
  }

  #main-content-container .left-section {
    height: 100vh;
  }

  #testimonials {
    height: 100vh !important;
  }

  #footer {
    position: relative;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
  }
}
@media only screen and (max-width: 430px) {
  .info .buttons .button .text {
    font-size: 13px;
    font-weight: bolder;
  }
}
