:root {
  --primary-font-color: #323232;
  --secondary-font-color: #50a3a2;
  --highlighted-font-color: #78cc6d;
  --container-background: rgba(255, 255, 255, 0.2);
  --background-gradient: linear-gradient(
    to bottom right,
    #50a3a2 0%,
    #78cc6d 100%
  );
  --border-main-content-sidebar: 1px solid rgba(255, 255, 255, 0.18);
}
#projects {
  display: flex;
  flex-direction: column;
  height: 98%;
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 15px 5%;
}
#projects .heading {
  text-align: center;
  background-color: var(--background-gradient);
  color: var(--primary-font-color);
  width: 100%;
  border-radius: 5px;
  background-color: var(--primary-font-color);
  color: var(--secondary-font-color);
}

#projects .projects-navbar-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: 20px 5px;
}

#projects .projects-navbar-container .project-filter {
  width: 100%;
  margin-right: 5px;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: var(--primary-font-color);
  color: var(--secondary-font-color);
  font-size: 16px;
  padding: 5px 5px;
  transition: all 0.3s linear;
}

#projects .projects-navbar-container .project-filter:hover {
  color: #85d17b;
  text-shadow: 0px 0px 20px var(--highlighted-font-color);
  box-shadow: 0px 0px 20px var(--secondary-font-color);
}

#projects .project-cards-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
}

#projects .project-cards-container .project-card {
  display: flex;
  flex-direction: column;
  color: var(--primary-font-color);
  border-radius: 8px;
  width: 100%;
  transform: scale(0.8);
  transition: all 0.2s linear;
  position: relative;
  gap: 5px;
}

#projects .project-cards-container .project-card:hover img {
  opacity: 0.2;
}

#projects .project-cards-container .project-card:hover {
  border: var(--primary-font-color) solid 1px;
  transform: scale(1);
}

.project-cards-container .project-card .card-image {
  border-radius: 5px;
  height: 200px;

  transition: all 0.3s linear;
}

.project-card .card-image img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  /* max-height: 365px; */
  border-radius: 5px;
}

.project-card .card-details {
  position: absolute;
  top: 0;
  left: -100%;
  opacity: 0;
  transition: all 0.5s linear;
}

.project-card:hover .card-details {
  opacity: 1;
  left: 0;
}

.project-card .card-details p {
  color: var(--primary-font-color);
  padding: 5px;
  /* font-size: 12px; */
}

.project-card .buttons {
  display: flex;
  justify-content: center;
  gap: 5px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
  left: -100%;
  opacity: 0;

  transition: all 0.3s linear;
}

.project-card:hover .buttons {
  opacity: 1;
  left: 0;
}

.project-card .buttons .button {
  background-color: var(--primary-font-color);
 
  outline: none;
  opacity: 1;
  transition: all 0.3s linear;
}
.project-card .buttons .button a {
  color: var(--secondary-font-color);
  display: block;
  width: 100%;
}

/* Hover */
#projects .project-cards-container .project-card:hover .card-image {
  opacity: 1;
}

.project-card .buttons .button:hover {
  opacity: 1;
  color: var(--highlighted-font-color);
  box-shadow: 0px 0px 20px var(--secondary-font-color);
}

.project-card .buttons .button:hover a {
  text-shadow: 0px 0px 20px var(--highlighted-font-color);

  color: var(--highlighted-font-color);
  opacity: 1;
}
