#projects {
  display: flex;
  flex-direction: column;
  height: 98%;
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 15px 5%;
}

#projects .projects-navbar-container .navbar-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 5%;
}

#projects .project-cards-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  gap: 2px;
}

#projects .project-cards-container .project-card {
  display: flex;
  flex-direction: column;
  padding: 15px 15px;
  border: 2px solid #e1e1e1;
  border-radius: 5px;
  border-bottom: none;
  color: #323232;

}

.project-cards-container .project-card .card-image {
  width: 100%;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
}

.project-card .card-image img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 5px;
}
.project-card .card-container {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 gap:3px;
}

.project-card .card-container .buttons{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}


.project-card .card-container .buttons .button {
  width: 50%;
  height: 100%;
  color: #929292;

  border: 2px solid #323232;
  outline: none;
  margin-right: 5px;
  color: #323232;
}

.project-card .card-container .buttons .button:hover {
  background-color: #323232;
  border: solid 1px #78cc6d;
}

.project-card .buttons .button:hover a {
  color: #78cc6d;
 
}

