#skills {
  display: flex;
  flex-direction: column;
  height: 98%;
  margin-top: 5px;
  padding: 15px 5%;
}
/*--------------------- Soft Skills------------------------------ */
#skills .heading {
  background-color: #50a3a2;
  padding: 5px;
  margin-bottom: 5px;
  color: #323232;
  text-align: center;
  border-radius: 5px;
}

#skills .soft-skills-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 2px;
  margin-bottom: 5px;
}

#skills .soft-skills-container .soft-skill {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
  height: 48%;
  border:#50a3a2 solid 2px;
  border-radius: 5px;
  transition: all 0.3s linear;
  margin-right: 5px;
}

.soft-skill .skill-heading {
  text-align: center;
  text-transform: uppercase;
  color: #323232;
  background-color: #50a3a2;
  /* font-size: 20px; */
  transition: all 0.3s linear;
}
.soft-skill img {
  padding: 25px;
  object-fit: cover;
  opacity: 0.3;
  transition: all 0.3s linear;
}

#skills .soft-skills-container .soft-skill:hover {
 border: #85d17b solid 2px;
}

#skills .soft-skills-container .soft-skill:hover .skill-heading{
  background-color: #85d17b;
}
#skills .soft-skills-container .soft-skill:hover img {
opacity: 1;
}

/* ---------------------------Technical Skills */
#skills .technical-skills-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 2px;
}

#skills .technical-skills-container .technical-skill {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
  height: 48%;
  border:#50a3a2 solid 2px;
  border-radius: 5px;
  margin-right: 5px;
  transition: all 0.3s linear;
  margin-bottom: 5px;
}

.technical-skill h3 {
  text-align: center;
  text-transform: uppercase;
  color: #323232;
  background-color: #50a3a2;
  /* font-size: 20px; */
  word-break: break-all;
  transition: all 0.3s linear;
}

 .technical-skill i {
  padding: 25px;
  font-size: 85px;
  object-fit: cover;
  opacity: 0.3;
  align-self: center;
  transition: all 0.3s linear;
}

#skills .technical-skills-container .technical-skill:hover {
  border: #85d17b solid 2px;
 }
 
 #skills .technical-skills-container .technical-skill:hover .skill-heading{
   background-color: #85d17b;
 }
 #skills .technical-skills-container .technical-skill:hover i {
  color: #85d17b;
  text-shadow: 0px 0px 10px #85d17b;
              /* 0px 0px 10px #50a3a2,
              0px 0px 10px #50a3a2; */
 opacity: 1;
 }