#work-education {
  display: flex;
  flex-direction: column;
  height: 98%;
  margin-top: 5px;
}
/*--------------- work--------------- */
#work-education .work-wrapper {
}
/* 
.work-wrapper .line {
  position: relative;
  width: 11px;
  height: 100%;
  background-color: #85d17b;
} */

.work-wrapper .work {
  position: relative;
  margin-left: 11px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.work .work-details {
  width: 80%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #e1e1e1;
  border-radius: 5px;
  padding: 2% 5%;
  font-size: 10px;
  text-align: center;
}

.work-details:hover {
  background-color: #85d17b;
  color: white;
  font-size: 12px;
}

.work-details .heading {
  text-decoration: none;
}

/* -------------------education-------------- */
#work-education .education-wrapper {
}

/* .education-wrapper .line {
  position: relative;
  width: 5px;
  height: 100%;
  background-color: #85d17b;
} */
.education-wrapper .education {
  margin-left: 15px;
  position: relative;
  padding: 2%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  padding: 10px;
  /* border-left: #85d17b 2px solid; */
}

.education .education-details {
  width: 80%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #e1e1e1;
  border-radius: 5px;
  padding: 2% 5%;
  font-size: 10px;
  text-align: center;
}

.education-details:hover {
  background-color: #85d17b;
  color: white;
  font-size: 12px;
}

.education-details .heading {
  text-decoration: none;
}

#work-education .icon {
  font-size: 25px;
  color: #323232;
  margin-bottom: 5px;
}

#work-education .icon:hover {
  color: #85d17b;
  font-size: 35px;
}

#work-education .heading {
  margin: 10px 0px;
}
@media only screen and (max-width: 1215px) {
}
