#work-education {
  display: flex;
  flex-direction: column;
  height: 98%;
  margin-top: 5px;
  padding: 15px 5%;
}
/*--------------- work--------------- */
/* 
.work-wrapper .line {
  position: relative;
  width: 11px;
  height: 100%;
  background-color: #85d17b;
} */

.work-wrapper .work {
  position: relative;
  margin-left: 11px;
  display: flex;
  flex-direction: column;
}
#work-education .icon {
  align-self: center;
  transition: all 0.3s linear;
}
.work .work-details {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #e1e1e1;
  border-radius: 5px;
  padding: 2% 5%;
  font-size: 10px;
  text-align: center;
  transition: all 0.3s linear;
}

.work-details:hover {
  background-color: #323232;
  color: #85d17b;
  font-size: 12px;
}

.work-details .heading {
  text-decoration: none;
  align-self: center;
}

/* -------------------education-------------- */

/* .education-wrapper .line {
  position: relative;
  width: 5px;
  height: 100%;
  background-color: #85d17b;
} */
.education-wrapper .education {
  margin-left: 11px;
  display: flex;
  flex-direction: column;
}

.education .education-details {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #e1e1e1;
  padding: 2% 5%;
  border-radius: 5px;
  font-size: 10px;
  transition: all 0.3s linear;
}

.education-details:hover {
  background-color: #323232;
  color: #85d17b;
  font-size: 12px;
}

.education-details .heading {
  text-decoration: none;
}

#work-education .icon {
  font-size: 25px;
  color: #323232;
  margin-bottom: 5px;
  transition: all 0.3s linear;
}

#work-education .icon:hover {
  color: #85d17b;
  font-size: 35px;
}

#work-education .heading {
  margin: 10px 0px;
  text-align: center;
}
@media only screen and (max-width: 1215px) {
}
