:root {
  --primary-font-color: #323232;
  --secondary-font-color: #50a3a2;
  --highlighted-font-color: #78cc6d;
  --container-background: rgba(255, 255, 255, 0.2);
  --background-gradient: linear-gradient(
    to bottom right,
    #50a3a2 0%,
    #78cc6d 100%
  );
  --border-main-content-sidebar: 1px solid rgba(255, 255, 255, 0.18);
}
#work-education {
  display: flex;
  flex-direction: column;
  height: 98%;
  margin-top: 5px;
  padding: 15px 5%;
}
#work-education .icon {
  font-size: 25px;
  color: var(--secondary-font-color);
  margin: 10px 0px;
  text-align: center;
  transition: all 0.3s linear;
  background-color: var(--primary-font-color);
  border-radius: 5px;
}
#work-education .heading {
  margin-bottom: 5px;
  text-align: center;
}

#work-education .icon:hover {
  color: var(--highlighted-font-color);
}

/*--------------- work--------------- */

.work-wrapper .work {
  position: relative;
  margin-left: 11px;
  display: flex;
  flex-direction: column;
}
.work .work-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: var(--primary-font-color);
  margin-bottom: 10px;
  border: 2px solid var(--primary-font-color);
  border-radius: 5px;
  font-size: 10px;
  text-align: center;
}

.work-details .heading {
  text-decoration: none;
  align-self: center;
  background-color: var(--primary-font-color);
  color: var(--secondary-font-color);
  width: 100%;
  padding: 5px;
  transition: all 0.3s linear;
}
.work-details .duration {
  font-size: 18px;
  width: 100%;
  padding: 5px;
  transition: all 0.3s linear;
}

.work-details .role {
  font-size: 14px;
  padding: 5px;
  transition: all 0.3s linear;
}
/* work hover */
.work-details:hover .heading {
  color: var(--highlighted-font-color);
}
/* -------------------education-------------- */

.education-wrapper .education {
  margin-left: 11px;
  display: flex;
  flex-direction: column;
}

.education .education-details {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid var(--primary-font-color);
  border-radius: 5px;
  font-size: 10px;
  color: var(--primary-font-color);
}
.education-details .heading {
  text-decoration: none;
  align-self: center;
  background-color: var(--primary-font-color);
  color: var(--secondary-font-color);
  width: 100%;
  padding: 5px;
  transition: all 0.3s linear;
}
.education-details .duration {
  font-size: 18px;
  width: 100%;
  padding: 5px;
  text-align: center;
  transition: all 0.3s linear;
}
.education-details .qualification {
  font-size: 14px;
  padding: 5px;
  transition: all 0.3s linear;
}
/* education hover */

.education-details:hover .heading {
  color: var(--highlighted-font-color);
}

@media only screen and (max-width: 1215px) {
}
